.footer {
  background: #434343;
}

.nav {
  padding-top: 42px;
  padding-bottom: 40px;
  &_menu {
  display: flex;
  column-gap: 203px;
    &-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    }
    &-chapt {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      &-btn {
        background: black;
        color: white;
        padding: 9px 21px;
      }
      &-input {
        padding: 9px 52px;
      }
      &-con {
        padding-left: 31px;
      }
    }
  }
}

.info {
  display: inline-flex;
  gap: 146px;
  &_name {
    color: #FFFFFF;
  }
  &_copyright {
    color: #FFFFFF;
  }
  &_design {
    color: #AAAAAA;
  }
}

.social {
  display: flex;
  column-gap: 10px;
  padding-left: 0;
}