.footer {
  background: #434343;
}

.nav {
  padding-top: 42px;
  padding-bottom: 40px;
  &_menu {
  display: flex;
  column-gap: 203px;
    &-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    }
    &-chapt {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.2;
      }
      &-btn {
        background: black;
        color: white;
        padding: 9px 21px;
      }
      &-input {
        padding: 9px 52px;
      }
      &-con {
        padding-left: 31px;
      }
    }
  }
}

.info {
  display: inline-flex;
  gap: 146px;
  &_name {
    color: #FFFFFF;
    &-company{
      display: flex;
    }
    &:hover{
      color: #C29974;
    }
    &-star1{
      color: #AAAAAA;
      &:hover{
      background: #836E5B;
      opacity: 0.5;
      }
      &:active{
        cursor: none;
        color: #C29974;
        opacity: 0.2;
      }
    }
    &-star2{
      &:hover{
        color: #836E5B;
        }
      &:active{
        cursor: none;
        color: #C29974;
      }
    }
    &-star3{
      &:hover{
        color: #836E5B;
      }
      &:active{
        cursor: none;
        color: #C29974;
      }
    }
    &-star4{
      &:hover{
        color: #836E5B;
      }
      &:active{
        cursor: none;
        color: #C29974;
      }
    }
    &-star5{
      &:hover{
        color: #836E5B;
      }
      &:active{
        cursor: none;
        color: #C29974;
      }
    }
  }
  &_copyright {
    color: #FFFFFF;
  }
  &_design {
    color: #A2A2A2;
    &:hover{
      color: #FFFFFF;
      text-decoration: underline;
    }
    &:active{
      color: #FFFFFF;
      cursor: none;
    }
  }
}

.social {
  display: flex;
  column-gap: 10px;
  padding-left: 0;
}