.header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1E0606;
    padding-bottom: 60px;
    margin-top: 50px;  
    &__list-item1{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.1;
      }
      transition: opacity 0.4s ease-out;
    }
    &__list-item2{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.1;
      }
      transition: opacity 0.4s ease-out;
    }
    &__list-item3{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.1;
      }
      transition: opacity 0.4s ease-out;
    }
    &__list-item4{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.1;
      }
      transition: opacity 0.4s ease-out;
    }
    &__list-item5{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.1;
      }
      transition: opacity 0.4s ease-out;
    }
    &__list-item6{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.1;
      }
      transition: opacity 0.4s ease-out;
    }
    &__list-one {
        margin-left: 109px;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
      }
    &__list-item5 {
        display: inline-block;
        align-content: flex-end;
    }
    &__list-item4 {
        padding-right: 678px;
      }
    &__list-one5 {
        padding-left: 677.93px;
      }
}