.popup {
    background: #E5EAF8;
    position: absolute;
    left: 15%;
    top: 0%;;
    display: none;
    z-index: 1;
    &_wr {
        display: flex;
        z-index: 20;
      }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(125, 151, 218, 0.8);
  }
  
  .open {
    display: flex;
  }
  
  .close-popup {
    position: absolute;
    left: 100%;
    background: none;
    border: none;
  }