.scene__anim {
    margin-bottom: 70px;
    &-taxi{
        transition: 0.4s ease-out;
        position: absolute;
        right: -324px;
        top: 564px;
        z-index: 1;
        animation: taxi 20s 1s infinite;
        &-speak{
            position: absolute;
            top: 764px;
            right: 20px;
            opacity: 0;
        }
    }
    &-cloud {
        width: 1263px;
    }
    &-city {
        width: 1263px;
    }
    &-flashlight {
        position: absolute;
        top: 336px;
        right: 41px;
        z-index: 2;
        &-fon1{
            left: 498px;
            position: absolute;
            top: 364px;
        }
        &-fon2{
            right: 0px;
            position: absolute;
            top: 364px;
        }
    }
    &-woman {
        transition: 0.4s;
        &-sit{
        position: absolute;
        top: 681px;
        left: 313px;
        z-index: 2;
        }
        &-speak{
        left: 223px;
        position: absolute;
        top: 575px;
        animation: speak 10s 5s infinite;
        z-index: 2;
        }
    }
    &-cases {
        position: absolute;
        top: 853px;
        left: 308px;
        z-index: 1;
    }
    &-man {
        z-index: 2;
        left: 422px;
        position: absolute;
        top: 594px;
        &-speak{
            left: 408px;
            position: absolute;
            top: 509px;
            z-index: 1;
            animation: speak-man 8s 2s infinite;
        }
    }
    &-hand {
        z-index: 1;
        left: 422px;
        position: absolute;
        top: 556px;
        animation: hand 7s 1s infinite;
    }
    &-car {
        transition: 0.4s;
        &-one {
            position: absolute;
            top: 643px;
            left: 75px;
            animation: one 10s 1s infinite;
        }
        &-two {
            position: absolute;
            top: 646px;
            animation: two 10s 1s infinite;
        }
        &-three {
            left: 768px;
            position: absolute;
            top: 665px;
            animation: three 10s 1s infinite;
        }
        &-four {
            position: absolute;
            right: -115px;
            top: 616px;
            animation: four 10s 1s infinite;
        }
    }
}

@keyframes one {
    0%{
        left: 75px;
    }
    100%{
        left: 1400px;
    }
}

@keyframes two{
    0%{
        left: 75px;
    }
    100%{
        left: 1400px;
    }
}

@keyframes three{
    0%{
        left: 75px;
    }
    100%{
        left: 1400px;
    }
}

@keyframes four{
    0%{
        left: 75px;
    }
    100%{
        left: 1400px;
    }
}

@keyframes speak {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes taxi {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        right: 20px;
    }
    70%{
        right: 550px;
    }
    100%{
        right: 1300px;
        opaciy: 0;
    }
}

@keyframes speak-man {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes hand {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}