<footer class="footer">
  <div class="nav">
      <section class="nav_menu">
         <ul class="nav_menu-chapt-nav"><h3 class="nav_menu-name">Navigation</h3>
          <hr>
        
          <li><a href="#" class="nav_menu-chapt">About Us</li></a>
          <li><a href="#" class="nav_menu-chapt">Blog</li></a>
          <li><a href="#" class="nav_menu-chapt">Design Services</li></a>
          <li><a href="#" class="nav_menu-chapt">Featured On</li></a>
          <li><a href="#" class="nav_menu-chapt">2018 Holiday Catalog</li></a>
          <li><a href="#" class="nav_menu-chapt">Shop By Designer</li></a>
         </ul>
         <ul class="nav_menu-chapt-cus"><h3 class="nav_menu-name">Customer Information</h3>
          <hr>
          <li><a href="#" class="nav_menu-chapt">Contact Us</li></a>
          <li><a href="#" class="nav_menu-chapt">Sale Exclusions</li></a>
          <li><a href="#" class="nav_menu-chapt">Shipping & Returns</li></a>
          <li><a href="#" class="nav_menu-chapt">Terms & Conditions</li></a>
          <li><a href="#" class="nav_menu-chapt">Privacy Policy</li></a>
          <li><a href="#" class="nav_menu-chapt">Search</li></a>
         </ul>
         <ul class="nav_menu-chapt-con"><h3 class="nav_menu-name">Connect</h3>
          <hr>
          <li>
          <input type="email" class="nav_menu-chapt-input" name="Email" id="">
          <input type="button" class="nav_menu-chapt-btn" value="JOIN">
          </li>
          <ul class="social">
              <li><a href="http://twitter.com/" class="social-twitter"><img src="img/icon/Twitter.png" alt="Twitter"></a></li>
              <li><a href="http://facebook.com/" class="social-facebook"><img src="img/icon/Facebook.png" alt="Facebook"></a></li>
              <li><a href="https://pinterest.com/" class="social-pinterest"><img src="img/icon/Pinterest.png" alt="Pinterest"></a></li>
              <li><a href="http://instagram.com/" class="social-instagram"><img src="img/icon/Instagram.png" alt="instagram"></a></li>
          </ul>
         </ul>
      </section>
      <hr class="line">
      <section class="info">
          <div class="info_name">
          Company Rating
              <img src="img/icon/Star.png" class="info_name-star" alt="star">
              <img src="img/icon/Star.png" class="info_name-star" alt="star">
              <img src="img/icon/Star.png" class="info_name-star" alt="star">
              <img src="img/icon/Star.png" class="info_name-star" alt="star">
              <img src="img/icon/Star.png" class="info_name-star" alt="star">
          </div>
          <div class="info_copyright">
              Copyright © 2018 Dlk • Design Life Kids
          </div>
          <div class="info_design">
              Web Design — Direct Line Development
          </div>
      </section>
  </div>
</footer>