<header class="header">
    <ul class="header__list-one">
        <li class="header__list-item1"><a href="index.html"><img src="img/DLKLogo.png" alt="logo"></a></li>
        <li class="header__list-item2"><a href="blog.html">Blog</a></li>
        <li class="header__list-item3"><a href="catalog.html">Catalog</a></li>
        <li class="header__list-item4"><a href="#">About Us</a></li>
        <li class="header__list-item5"><input type="image" src="./img/icon/search.png" alt="search"></li>
        <li class="header__list-item6"><a href="contactus.html">Contact  Us</a></li>
    </ul>
</header>