<div class="popup">
    <div class="popup_wr">
      <button class="close-popup"><img src="img/icon/close.png" alt="close"></button>
    <div class="contact__form">
      <form class="form" action="form.php" method="post" target="_blank">
          <label>Name: <p><input type="text" name="name" class="contact__form-name"></p></label>
      <div class="contacts">
          <label>Phone: <input type="text" name="number" class="contact__form-input"></label>
          <label>Email: <input type="text" name="email" class="contact__form-input"></label>
      </div>
      <div class="message">
          <label><p>Message:</p><input type="text" name="message" class="contact__form-mes"></label>
          <label class="click"><p><input type="checkbox" class="contact__form-chekbox">By clicking on the button, you consent to the processing of your personal data</p></label>
      </div>
      <div class="none">
          <input type="submit" value="SUBMIT" class="contact__form-btn">
      </div>
      </form>
    </div>
    </div>
      <div class="overlay"></div>   
      </div>